
.containerLogin{
    height: 100%;
    position: relative;
}

    /* nav */

.nav-container{
    display: grid;
    grid-template-rows: 1fr 2fr;
    width: 100%;
    height: 100px;
    background-color: black;
    position: absolute;
    z-index: 5;
}
.navDown ,.navUp{
    display: flex;
    align-items: center;

}
.navUp{
    background-color: #222229;
    padding: 0 40px;
}

.navDown{
    padding: 0 20px; 
    justify-content: space-between;
}

.navInfoContainer{
    display: flex;
    align-items: center;
}
.logoBlackD{
    height: 24px;
} 

.logoPearlA{
    width: 123px;
    height: 16px;
    opacity: 0.7;
    background: no-repeat center / contain;
} 

.ulNav{
    display: flex;
    list-style:none ;
    margin-left: 15px;
    white-space: nowrap;
}

.ulNav li{
    width: 100%;
    position: relative;
    padding: 10px 0;
    cursor: pointer;
}

.ulNav li a{
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-weight: 200;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    box-sizing: border-box;
    transition: height .2s;
} 

.ulNav li a span{
    position: relative;
}

.ulNav li a span::after {
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0px;
    height: 6px;
    background: linear-gradient(0deg, #d1ab85, transparent 40%);
    opacity: 0;
    content: '';
    transform: translate3d(-50%, 0, 0);
    transition: width .2s ease,opacity .2s ease .03s,top .2s;
}

.ulNav li:hover a span::after {
    width: 100%;
    opacity: 1;
}

.ulNav .liNav1{
    list-style: none;
    position: relative;
}

.ulNav .liNav5 a{
    color: yellow;
}

/* subMenus ///////*/

.ulNav li div{ 
    position: absolute;
    min-width: 100%; 
    margin-top: 10px;  
}

.ulNav li div ul {  
    margin-top: 10px;
    list-style: none;
    background-color: black;
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease;
}

.ulNav li div li{
    padding: 10px 0;
    cursor: pointer;
}
.ulNav li div li a{
    font-size: 13px; 
    font-weight: 200;
    transition: 0.3s;
}

.ulNav li div li:hover a{
    color: goldenrod;
    transition: 0.3s;
}

.ulNav .liNav1:hover .modalNoticias ul{
    height: 220px;
}
.ulNav .liNav2:hover .modalCampamento ul{
    height: 220px;
}
.ulNav .liNav3:hover .modalInfoJuego ul{
    height: 220px;
}
.ulNav .liNav4:hover .modalTienda ul{
    height: 220px;
}
.ulNav .liNav5:hover .modalDescarga ul{
    height: 220px;
}
.ulNav .liNav5 div li a {
    color: white;
}
.ulNav .liNav5 div li:first-child a {
    color: yellow;
}


/* //Iconos//////// */

.iconsContainer{
    display: flex;
    align-items: center;
    width: 100px;
    opacity: 0.7;
    margin-right: 5%;  
    justify-content: space-around;
  
}

.userIconContainer{
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 50%;
    justify-content: center;
    padding: 22px 0 22px 5px;
}
.networkIcon{
    height: 24px;
    cursor: pointer;  
    opacity: 0.8;
    padding-right: 5px;
}

.networkIcon:hover{
    opacity: 2
}

.userIcon{
    height: 22px;
    filter: invert(100%);
    opacity: 0.8;
    transition: 0.5s;
}
.userIconContainer:hover .userIcon{
    opacity: 1;

}


.userIconContainer::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: calc(50% - 6px);
    width: 1px;
    height: 12px;
    background-color: white;
    z-index: 8;
}

/* //menuLogin// */

.menuLogin{
    position: absolute;
    top: 100%;
    background-color: black;
    width: 180px;
    height: 0px;
    max-height: 100px;
    overflow: hidden;
    transition: height 0.3s ease; 
    border-radius: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: grid;
    align-items: center;
}

.userIconContainer:hover .menuLogin{
     height: 100px;
}

.loginButton{
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #F1D600;
    color: black;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    transition: 0.1s;
    opacity: 0.5;
}
.loginButton:hover{
    opacity: 1;

}
.createUserContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
}

.createUserContainer p{
    opacity: 0.5;
    transition: 0.3s;
    font-weight: 200;
}

.iconCreateUser{
    width: 30px;
    transition: 0.3s;
    opacity: 0.5;
}

.createUserContainer:hover .iconCreateUser{
    transform: scale(1.1);
    opacity: 1;
}
.createUserContainer:hover p{
    transform: scale(1.05);
    opacity: 1;
}


    /* ///modalLogin/// */



.modalLogin{
    position: absolute;
    width: 30vw;
    min-width: 230px;
    height: 60vh;
    background: linear-gradient(180deg, rgba(0,0,0,0.5681374600621498) 70%, rgba(0,0,0,0) 98%);
    top: calc(50% - 30vh);
   /*  left: calc(50% - 15vw); */
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    display: none;  
    margin-left: 10vw;

    transform: translateX(200px);
    animation: moveModal 1s forwards;
}
@keyframes moveModal {
    from {
        transform: translateX(200px); /* Posición inicial fuera de la pantalla a la derecha */
      }
      to {
        transform: translateX(0); /* Posición final (0 significa sin desplazamiento horizontal) */
      }
  }



.active{
    display: flex;  
}

.modalLoginForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9;
    margin-bottom: 20px;
}
.modalLoginForm h2 {
    margin-left: 20px;
    color: white;
    margin-bottom: 10px;
    font-size: 30px;

    transform: translateX(300px);
    animation: moveH2 2s forwards;
    animation-delay: 0.3s;
    
}
@keyframes moveH2 {
    from {
        transform: translateX(300px); /* Posición inicial fuera de la pantalla a la derecha */
      }
      to {
        transform: translateX(0); /* Posición final (0 significa sin desplazamiento horizontal) */
      }
  }


.userLoginContainer, .passwordLoginContainer {
    margin-left: 10px;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    transform: translateX(300px);
    animation: moveInput 2s forwards;
}

@keyframes moveInput {
    from {
        transform: translateX(300px); /* Posición inicial fuera de la pantalla a la derecha */
      }
      to {
        transform: translateX(0); /* Posición final (0 significa sin desplazamiento horizontal) */
      }
  }

.modalLoginForm input {
    height: 100%;
    width: 65%;
    border: 2px solid white;
    border-radius: 0 5px 5px 0;  
}

.modalLoginForm input::placeholder{
    font-size: 12px;
    color: rgb(148, 147, 147);
}
.modalLoginForm input:focus {
    outline: none;
}

.modalLoginForm span{
    border: 2px solid white;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px 0 0 5px;
}

.modalLoginForm span img{
    width: 20px;
    filter: invert(100%);

}
.modalLoginForm input{
    margin-bottom: 5px;
}

.buttonSignIn{
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: goldenrod;
    color: black;
    border-radius: 10px;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    transition: 0.2s;
    opacity: 0.5;
    border: none;
    margin: 10px 0 10px 10px
}
.buttonSignIn:hover{
    opacity: 1;
    transition: 0.2s;
}

.ForgoutPassContainer{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    width: 150px;
    z-index: 9;
}
.ForgoutPassContainer a{
    cursor: pointer;
    color: white;
    font-size: 12px;
    font-weight: 200;
    font-style: italic;
}

.appsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 9;
    text-align: center;
    position: absolute;
    bottom: 20px;
    
}
.appsContainer p{
    color: white;
    font-size: 11px;
    font-weight: 400;
    position: relative;
    width: 100%;
}


.appsIconContainer{
    border-top: 1px solid white;
    padding-top: 10px;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.appsIconContainer img{
    width: 10%;
    min-width: 30px;
    margin-left: 5%;
    margin: 0;
    cursor: pointer;
    transition: 0.3s;
    transform: translateX(500px);
    animation: moveIcon 2s forwards;
    opacity: 0.5;
}
@keyframes moveIcon {
    from {
        transform: translateX(500px); /* Posición inicial fuera de la pantalla a la derecha */
      }
      to {
        transform: translateX(0); /* Posición final (0 significa sin desplazamiento horizontal) */
      }
  }

.appsIconContainer img:hover{
    opacity: 1;
}
.appsIconContainer img:nth-child(1){
    animation-delay:0s
}
.appsIconContainer img:nth-child(2){
    animation-delay:0.2s
}
.appsIconContainer img:nth-child(3){
    animation-delay:0.3s
} 

.backgroundModalLogin{
    position: absolute;
    height: 60vh;
    z-index: 8;
    left: 100%;
    animation: slideIn 2s forwards;
    animation-delay: 0.3s;
}

@keyframes slideIn {
  from {
    left: 100%;
  }
  to {
    left: 40%;
  }
}
    /* ///Background///  */

.background_container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.background{
    position: absolute;
    width: 100%;
    height: 100%; 
    background: no-repeat center 0/cover;
    animation: backgroundEffect 18s linear infinite;
    
}

.background_dragan{
    background-image:url(/img/loginAssets/data_down_visual_top_dragan.jpg);
    animation-delay: 0s;
}

.background_village{
    background-image:url(/img/loginAssets/data_down_visual_top_village.jpg);
    animation-delay: 6s;
}

.background_ocean{
    background-image:url(/img/loginAssets/data_down_visual_top_ocean.jpg);
    animation-delay: 12s;
}

@keyframes backgroundEffect {

    0% {
    transform: scale(1);
    z-index: 2;
    opacity: 1;
}
33% {
    z-index: 3;
    opacity: 1;
}
38% {
    z-index: 4;
}
40% {
    opacity: 0;
    transform: scale(1.1);
}
50% {
    z-index: 1;
}
100% {
    transform: scale(1);
    z-index: 1;
    opacity: 0;
}
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 90%); 
    position: absolute;
    bottom: 0;
    z-index: 5; 
}
.footer-container p {
    color: white;
    font-family: 'karla', sans-serif;
    font-weight: 100;
    font-size: 14px;
    text-align: center;
}
.footer-container p a {
    color: skyblue;
    text-decoration: none;
    font-weight: 300;
}


@media screen and (max-width: 1024px){


    .background_dragan{
        background-image:url(/img/loginAssets//data_down_visual_top_dragan_m.jpg)
    }
    .background_village{
        background-image:url(./img/loginAssets/data_down_visual_top_village_m.jpg)
    }
    .background_ocean{
        background-image:url(/img/loginAssets/data_down_visual_top_ocean_m.jpg)
    }
}

@media screen and (max-width: 800px){
.navUp{
    display: none;
}
.nav-container{
    height: 66px;
}
.ulNav{
    display: none;
}

.logoBlackD {
    height: 16px;
    margin-right: 10px;
}
.modalLogin{
    margin-left: 4%;
}
 .modalLoginForm{
    justify-content: center;
    align-items: center;
} 
 .modalLoginForm h2 ,.buttonSignIn , .ForgoutPassContainer,.backgroundModalLogin {
    margin-left: 0;
} 

.userLoginContainer{
    justify-content: center;
    margin-left: 0;
}
.passwordLoginContainer{
    justify-content: center;
    margin-left: 0;
}

/*  .backgroundModalLogin{
    display: none;
} */
@keyframes slideIn {
    from {
      left: 100%;
    }
    to {
      left: 25%;
    }
  }

.menuLogin{
    margin-right:160% ;
    max-height: 70px;
    width: 150px;
} 
.loginButton{
    font-size: 12px;
}
.createUserContainer p {
    font-size: 12px;
}
.iconCreateUser{
    width: 18px;
}

}
